<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBv97zhRkKZyjUyXUMy1XDTGF9d3YGF1JQ</string>
	<key>GCM_SENDER_ID</key>
	<string>248248666069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foodbuddy.foodBuddy.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>spoonacullar</string>
	<key>STORAGE_BUCKET</key>
	<string>spoonacullar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248248666069:ios:0ad40df3d30cb702ae1f5c</string>
</dict>
</plist>